# --- Core du bot Discord ---
discord.py

# --- ORM et base de données ---
SQLAlchemy
aiomysql
pymysql 

# --- Gestion des variables d'environnement ---
python-dotenv

# --- Outils de développement et qualité de code ---
black
flake8
pytest
pytest-asyncio
pre-commit

# --- (Optionnel) Async utilities ---
aiohttp

# --- Voir list des bibliothèques ---
# python -m pip list
